body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    background: #121212;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

.start-button {
    padding: 20px 40px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 1;
}

.start-button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.background div {
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: move 10s linear infinite;
}

@keyframes move {
    to {
        transform: translateY(-100vh) rotate(360deg);
    }
}

.creditos {
    font-family: Arial, sans-serif;
    text-decoration: none;
    color: #00e1ff;
    display: block;
    text-align: center;
    margin-top: 10px;
}