/* Adicione regras de estilo para tornar o layout mais responsivo aqui */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../png/fundo1.png');
    background-size: cover;
    background-position: auto;
}

header {
    background-color: #874caf;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.header-buttons {
    display: flex;
    flex-wrap: wrap; /* Permite que os botões sejam empilhados em telas menores */
    gap: 10px;
}

.proprof-button, .profile-button, .promatri-button, .proinserir-button, .logout-button, .deleteButton, .update-button {
    background-color: rgba(0, 0, 0, 0.63);
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
}

.proclasses-button, .delete-button {
    background-color: rgba(212, 64, 64, 0.63);
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

section {
    background-color: rgba(255, 255, 255, 0.815);
    border-radius: 20px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-top: 2%;
    margin-bottom: 100px;
}

h2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

table {
    width: 100%;
    /* display: center; - Remova essa linha, pois 'display: center' não é uma propriedade CSS válida */
}

th, td {
    padding: 8px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
}

th {
    background-color: rgba(123, 128, 202, 0.34);
}

input[type="text"] {
    text-align: center;
    width: calc(100% - 16px);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

.atualizar-button, .adicionar-alunos-button {
    font-family: Arial, sans-serif;
    background-color: #8e24aa;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 15px;
    display: block;
    width: 100%;
    text-align: center;
}

.editar-button {
    font-family: Arial, sans-serif;
    background-color: #aa2424;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 15px;
    display: block;
    width: 100%;
    text-align: center;
}

@media (max-width: 768px) {
    /* Estilos para telas menores */
    header {
        flex-direction: column; /* Alterado para empilhar elementos do cabeçalho em telas menores */
        align-items: center;
    }

    .header-buttons {
        width: 100%; /* Ocupa a largura total em telas menores */
        justify-content: center; /* Centraliza os botões */
    }

    .proprof-button, .profile-button, .promatri-button, .proinserir-button, .logout-button, .deleteButton, .update-button, .proclasses-button, .delete-button {
        width: 100%; /* Botões ocupam a largura total em telas menores */
        margin-bottom: 10px; /* Espaçamento entre botões */
    }
}

.creditos {
    font-family: Arial, sans-serif;
    text-decoration: none;
    color: #00e1ff;
    display: block;
    text-align: center;
    margin-top: 10px;
}