/* Adicione regras de estilo para tornar o layout mais responsivo aqui */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../png/fundo1.png');
    background-size: cover; /* para ajustar o tamanho da imagem */
    background-position: auto; /* para posicionar a imagem */
    
}

header {
    background-color: #874caf;
    color: white;
    display: flex;
    flex-wrap: wrap; /* Nova adição para permitir que os elementos sejam envolvidos */
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 2); /* Adiciona sombra na parte inferior */
    border-radius: 10px;
    
    
}



.header-buttons {
    display: flex;
    gap: 10px;
}

.proprof-button, .profile-button, .promatri-button, .proinserir-button, .logout-button, .deleteButton, .update-button {
    background-color: #000000a1;
    box-shadow: 0 0 0 2px rgb(0, 0, 0); /* Adiciona sombra */
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
    
}

.proclasses-button, .delete-button{
    background-color: #d44040a1;
    box-shadow: 0 0 0 2px rgb(0, 0, 0); /* Adiciona sombra */
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
}


main {
    display: flex;
    flex-wrap: wrap; /* Nova adição para permitir que os elementos sejam envolvidos */
    justify-content: space-around;
    padding: 20px;
    
}

section {
    background-color: rgba(255, 255, 255, 0.815);
    border-radius: 20px;
    box-shadow: 0 0 0 2px rgb(0, 0, 0); /* Adiciona sombra */
    padding: 20px;
    width: 45%;
    margin-top: 2%;
    margin-bottom: 100px; /* Nova adição para criar espaço entre as seções */
    
}

h2 {
    display: flex;
    align-items: center;
    gap: 10px;
    
}

table {
    width: 100%;
    display: center;
    

}

th, td {
    border: 2px solid #ddd;
    padding: 8px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;

}

th {
    background-color: #7b80ca57;
    
}

input[type="text"] {
    text-align: center;
    width: calc(100% - 16px); /* Alterado para permitir o preenchimento interno */
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;

}

.atualizar-button, .adicionar-alunos-button {
    font-family: Arial, sans-serif;
    background-color: #8e24aa;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 15px;
    display: block;
    width: 100%;
    text-align: center;
}

.editar-button {
    font-family: Arial, sans-serif;
    background-color: #aa2424;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 15px;
    display: block;
    width: 100%;
    text-align: center;
    
}

@media (max-width: 768px) {
    /* Estilos para telas menores */
    main {
        flex-direction: column; /* Alterado para empilhar seções em telas menores */
        align-items: center; /* Centralizar seções em telas menores */
    }

    section {
        width: 90%; /* Alterado para ocupar a largura total em telas menores */
    }
}

.creditos {
    font-family: Arial, sans-serif;
    text-decoration: none;
    color: #00e1ff;
    display: block;
    text-align: center;
    margin-top: 10px;
}